h1, p {
    background-color: #f1eeee;
  }

h1 {
    padding: 50px;
    border: 1px solid #0b24fb;
    border-bottom: 3px solid #0b24fb;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

p {
    padding: 20px 10px; /* Тут сверху и снизу отступ 20px, а слева и справа 10px */
}

p {
    padding: 20px 0 20px 10px; /* Сверху 20px, справа 0, снизу 20px, слева 10px */
    margin-bottom: 50px;
}
  
em, strong {
    background-color: #29fd2f;
    display: inline; /* or  display: block;*/
}

strong {
    margin: 50px;
}

p {
    padding: 20px 0 20px 10px;
  
    margin-top: 25px;
    margin-bottom: 50px;
  }

div {
    color: #FFF;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
  
    width: 200px;
    box-sizing: border-box;  /* Добавим это */
    margin: 20px auto;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }