body {
    color: #414141;  /* comment */
    background-color: #EEEEEE;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 1.6em; /* we take the proportion from the current font size */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal; 
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: lower-roman;
}
